<div class="page">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
    <div class="container">
      <h1>Y'all Rides</h1>
      <p>
        <span id="banner-typed-text"></span>
      </p>
      <div class="search-form-control form-group">
        <%= form_tag cars_path, method: :get do %>
          <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a car or location"
        %>
          <%= submit_tag "Search", class: "btn btn-flat" %>
        <% end %>
      </div>
      <%# <div class="or">
        <p> OR </p>
      </div> %>
      <div class="banner-button">
        <%= link_to "Browse All Cars", cars_path, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
