.banner {
  background-size: cover;
  background-position: center;
  // padding: 150px 0;
  height: 90vh;
  width: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-weight: bold;
  font-family: 'Saira', sans-serif;
  padding-top: 96px;
}

.banner p {
  font-size: 36px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-top: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #5FA8D3;
  // color: #D62246;
}

.banner strong {
  color: #C07FD6;
}

.banner-photo .banner {
  height: 50vh;
  width: 100%;
}

.pricing p{
  color: white;
  font-size: 32px;
  text-align: right;
  margin-top: 56px;
  font-style: bolder;
}

.banner-header {
  margin-left: 24px;
}
