.btn-ghost {
  color: #272821;
  background-color: white;
  border: 1px solid white;
  padding: 24px 48px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-ghost-add {
  color: #272821;
  background-color: white;
  padding: 8px 24px;
  border: 1px solid white;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: black;
  box-shadow: 0 0 45px rgba(255,255,255,255.8);
}

.btn-ghost-add:hover {
  opacity: 1;
  color: black;
  box-shadow: 0 0 45px rgba(255,255,255,255.8);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #12355B;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #12355B;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.add-drink-button {
  color: #272820;
  // border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.add-drink-button:hover {
  opacity: 1;
}

.banner-button {
  display: block;
  text-align: center;
}

.banner-button .btn{
  background-color: white;
  color: #12355B;
  font-size: 16px;
  margin-top: 180px;
}

.book {
  margin: 30px;
}
