.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-wrapper {
  height: 304px;
  position: sticky;
  z-index: 1;
  background-color: #f4f4f4;
  top: 0;
}