.my-profile-info {
  color: #5FA8D3;
  padding-top: 16px;
  text-align: left;
  margin-right: 128px;
}

.my-profile-info p {
  padding-top: 8px;
}

.my-profile {
  display: flex;
}

.my-profile-avatar {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: left;
}