.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 0, 16px;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }