<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
<%= simple_form_for [ car, review ] do |f| %>
  <div class="star-rating">
    <% 5.times do |i| %>
      <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
    <% end %>
  </div>
  <br>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
